/* postion */
.pos-s {
	position: static;
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.pos-f {
	position: fixed;
}
/* direction */
.l0 {
	left: 0;
}
.r0 {
	right: 0;
}
.t0 {
	top: 0;
}
.b0 {
	bottom: 0;
}
/* float */
.fl {
	float: left;
}
.fr {
	float: right;
}
/* width */
.w100% {
  width: 100%
}
/* height */
.h100% {
	height: 100%;
}
/* padding */
.pl15 {
	padding-left: 15px;
}
.pr15 {
	padding-right: 15px;
}
.pt15 {
	padding-top: 15px;
}
.pb15 {
	padding-bottom: 15px;
}
/* margin */
.ml15 {
	margin-left: 15px;
}
.mr15 {
	margin-right: 15px;
}
.mt15 {
	margin-top: 15px;
}
.mb15 {
	margin-bottom: 15px;
}
/* border */
.bdl {
	border-left: 1px solid #666;
}
.bdr {
	border-right: 1px solid #666;
}
.bdt {
	border-top: 1px solid #666;
}
.bdb {
	border-bottom: 1px solid #666;
}
/* font */
.cfff {
	color: #fff;
}
.c000 {
	color: #000;
}
.c333 {
	color: #333;
}
.c666 {
	color: #666;
}
.lh {
	line-height: 1.5;
}
/* text */
.tac {
  text-align: center;
}
.ti2em {
	text-indent: 2em;
}

